/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc6c;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}
.detailHead h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.artist-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
   
}
.artistsT h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: rgb(80, 2, 153);
    
}
 .artistsT {
    margin-top: -10px;
    height:275px;
    background-image: url("imagehead.png");
    background-position: bottom;
    margin: 5px;
    padding: 10px;
 }
.artist-card {
    flex-basis: calc(20% - 10px);
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5dc6c;
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.artist-card:hover {
    transform: scale(1.08);
    text-decoration: none;
    border: 1px solid #666 ;
   
}

.artist-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.imgDetail {
    width: 20%;
    padding-bottom: 20px;
}

.detailHead:hover{
    transform: scale(1.08);
}

.concert-detail {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.concert-detail:hover{
    transform: scale(1.08);
    border: 1px solid #666 ;
}

p {
    margin: 5px 0;
    color: #666;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



h2 {
    color: #333;
    margin: 10px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
