/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.artist-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.artist-card {
    flex-basis: calc(20% - 10px);
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.concert-detail {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 5px 0;
    color: #666;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    color: #333;
    margin: 10px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
