<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
    <p>First Album: {{.Artist.FirstAlbum}}</p>
    <p>Started: {{.Artist.CreationDate}}</p>

    <h2>Concert Details</h2>
    {{range $index, $location := .ConcertDetails.Locations}}
    <div class="concert-detail">
        <p>Location: {{$location}}</p>
        <p>Dates:</p>
        <ul>
            {{range $dateIndex, $date := $.ConcertDetails.Dates}}
                {{if eq (index $.ConcertDetails.Locations $index) $location}}
                    <li>{{$date}}</li>
                {{end}}
            {{end}}
        </ul>
    </div>
    {{end}}
</body>
</html>
