<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Artists</title>
</head>
<body>
    <div class="container">
    <div class="artist-row">
        {{range .Artists}}
        <a href="/artist/{{.ID}}" class="artist-card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <p>First Album: {{.FirstAlbum}}</p>
            <p>Started: {{.CreationDate}}</p>
            <p>Members:</p>
            {{range .Members}}
            {{.}} <br>
            {{end}}
        </a>
        {{end}}
    </div>
</div>
</body>
</html>
